In [3]:
def foo(**kwargs):
    print(kwargs)
    print(kwargs["skiprows"])

In [21]:
import pandas as pd

df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]])
lookup = df.lookup(row_labels=(0,1,2), col_labels=(0,))
print(df)
print(lookup)

ValueError: Row labels must have same size as column labels

In [74]:
df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})
print(df)
print(set(df["key"]))
print(other)

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5
{'K1', 'K5', 'K0', 'K4', 'K2', 'K3'}
  key   B
0  K0  B0
1  K1  B1
2  K2  B2

In [23]:
other.join(df, lsuffix='_caller')

  key_caller   B key   A
0         K0  B0  K0  A0
1         K1  B1  K1  A1
2         K2  B2  K2  A2

In [85]:
df2 = other.merge(df, left_on='key', right_on='key',
                                     suffixes=('_left', '_right')).iloc[0:2]

df2.loc[0, "A"] = 1

df2

  key   B   A
0  K0  B0   1
1  K1  B1  A1

In [73]:
df2.T

      0   1
key  K0  K1